<a href="https://colab.research.google.com/github/varsha824varsha/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nlist = [4, 2, 7, 5, 12, 54, 21, 64, 12, 32]
print('List has the items: ', nlist)
searchItem = int(input('Enter a number to search for: '))
found = False
for i in range(len(nlist)):
    if nlist[i] == searchItem:
        found = True
        print(searchItem, ' was found in the list at index ', i)
        break
if found == False:
    print(searchItem, ' was not found in the list!')

List has the items:  [4, 2, 7, 5, 12, 54, 21, 64, 12, 32]
Enter a number to search for: 21
21  was found in the list at index  6

In [ ]:
list1 = [] 
  

num = int(input("Enter number of elements in list: ")) 
  

for i in range(1, num + 1): 
    ele = int(input("Enter elements: ")) 
    list1.append(ele) 
      

print("Largest element is:", max(list1))

Enter number of elements in list: 3
Enter elements: 12
Enter elements: 19
Enter elements: 52
Largest element is: 52

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [ ]:
def Remove(duplicate): 
	final_list = [] 
	for num in duplicate: 
		if num not in final_list: 
			final_list.append(num) 
	return final_list 
	
duplicate = [10,20,30,20,10,50,60,40,80,50,40]
print(Remove(duplicate))

[10, 20, 30, 50, 60, 40, 80]

In [ ]:
def data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(data([1,2,3,4,5], [5,6,7,8,9]))
print(data([1,2,3,4,5], [6,7,8,9]))

True
None

In [ ]:
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [20]:
X = [[1,2,3], 
    [4 ,5,6], 
    [7 ,8,9]] 
  
Y = [[9,8,7], 
    [6,5,4], 
    [3,2,1]] 
  
  
result = [[0,0,0], 
        [0,0,0], 
        [0,0,0]] 
  
for i in range(len(X)):    

    for j in range(len(X[0])): 
        result[i][j] = X[i][j] + Y[i][j] 
  
for r in result: 
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [27]:
 string=input("Enter string:")
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("The string isn't a palindrome")

Enter string:malayalam
The string is a palindrome