<a href="https://colab.research.google.com/github/varsha824varsha/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/filehandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [3]:
def delblankline(oldfile, newfile):
  t1=open(oldfile, "r")
  t2=open(newfile, "w")
  while True:
    text = t1.readline()
    if text == "":
      break
      if text == '\0':
        continue
        t2.write(text)
        t1.close()
        t2.close()
        return