<a href="https://colab.research.google.com/github/varsha824varsha/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=str(input("Enter your name:"))
b=str(input("Enter your address:"))
c=str(input("Enter your telephone number:"))

Enter your name:varsha
Enter your address:varsha
Enter your telephone number:987756225

In [10]:
 width = int(input("Enter the width "))
height = int(input("Enter the height "))
area = width * height
print("The area is" , area, "square units")

Enter the width 78
Enter the height 56
The area is 4368 square units

In [16]:
baselength = int(input("Enter the base length of the triangle "))
height = int(input("Enter the height of the triangle "))
area = ((baselength*height)/2)
print("The area of the triangle is" , area, "square units")

Enter the base length of the triangle 10
Enter the height of the triangle 11
The area of the triangle is 55.0 square units

In [17]:
radius= (float(input("Enter the radius of the circle ")))
area = 3.14 * radius ** 2
print("The area of the circle is ", area ,"square units")

Enter the radius of the circle 9
The area of the circle is  254.34 square units

In [20]:
str(input("Enter your name "))
a=int(input("Enter your age "))
print("your name is", name ,"and your age is ", str(a) )

Enter your name varsha
Enter your age 19
your name is varsha and your age is  19

In [22]:
x=int(input("Enter a number"))
a= x+1
print("the result is", a)

Enter a number99
the result is 100

In [23]:
a= str(input("Enter your first name "))

Enter your first name varsha